<tr class="default clickable-row" data-toggle="modal" data-target="#pre-sales-{{id}}-modal" id="#pre-sales-table-row-{{id}}">
	<td>{{investor}}</td>
	<td>${{amount}}</td>
	<td>0%</td>
	<td></td>
</tr>
